.app {
    width: 100%;
    height: 100vh;

    background: #010527;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.doors {
    display: flex;
    margin: 0 3rem;
}

.door {
    background: #fafafa;
    box-shadow: 0 0 8px 8px black;
    display: flex;

    width: 250px;
    height: 400px;
    overflow: hidden;

    border-radius: 1rem;
    margin: 1ch;
}


.boxes {
    /* transform: translateY(0); */
    transition: transform 1s ease-in-out;
    height: 100%;
}


.box {
    padding: 5px;
    margin: 0 auto;
    height: 100%;
}

.buttons {
    margin: 1rem 0 2rem 0;
}

.button {
    cursor: pointer;

    font-size: 1.2rem;
    text-transform: uppercase;

    margin: 0 0.2rem 0 0.2rem;
}

.logo > img {
    width: 120%;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 600%;
}

.spinButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border: 1px solid;
}

